@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
:root {
  --main-bg-color: #2874f0;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 88px;
  padding: 0 25px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

nav ul li {
  list-style: none;
  padding: 0 22px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Luxurious Roman', cursive;
}

nav ul li a:hover {
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 30vw;
  height: 30px;
  border-radius: 6px;
  margin: 0 16px 0 56px;
  padding: 0 12px;
  font-weight: bolder;
}

.container {
  min-height: calc(100vh - 60px - 11vh);
}

.slider {
  width: 82vw;
  margin: 12px auto;
  overflow: hidden;
}

.card {
  max-width: 91vw;
  margin: 37px auto;
  font-family: 'Luxurious Roman', cursive;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.card .card-item {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 12vw;
  /* margin: 0 15px; */
  margin: 7px 15px;
}

footer {
  height: 11vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: 'Luxurious Roman', cursive;
}
